/* TABLE */
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0f1839;

  font-size: 20px;
  color: #fff;
  height: 100%;
  width: 100%;
}


/* HEADER */

#clock {
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  float: right;
}

.bus-icon {
  width: 50px;
  height: 50px;
}


#page {
  float: left;
}




/* 
Generic Styling, for Desktops/Laptops 
*/
.table { 
  border: 0 !important;
  border: 20px solid black;
  width: 100% !important;
  text-align: center;

}

.tablestyle {
  line-height: 2.5;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background-color: #273A84; 
}

tr:nth-of-type(even) {
  background-color: #0f1839;
}
th { 
  color: white; 
  font-weight: bold; 
   background-color: #0f1839;
   font-size: 25px;
}
td, th { 
  padding: 6px; 
  text-align: center; 

}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  .table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  
  td { 
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
}



/* SHOWCASE */
#showcase {
  background:url('../images/intro-bg.jpg') no-repeat center center;
}

.showcase-content {
  padding: 15px;
}

#showcase .row{
  height: 150px;
}

#showcase h1 {
  font-size:50px;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  margin:0;
  padding-bottom:20px;
  text-align: center;
}

#showcase p {
  color:#ccc;
  margin:0;
  padding-bottom: 10px;
  text-align: center;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

}

